.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar{
  position: fixed !important;
  width: 100% !important;
  z-index: 9 !important;
}
/* .page-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9;
} */

.App-link {
  color: #61dafb;
}
.dashboard {
  text-align: center;
  padding-top: 50px;
  min-height: 623px;
}
.searchbox {
  padding: 20px;
}
.conatin {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:1024px){
  .conatin {
    display: flex;
    flex-direction: column;
  }
  .post {
      width: 90%;
}}@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
